@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/card.css");

body {
	font-family: 'Lora', serif;
	font-size: bold;
	width: 1500px;
	color: tan;

}
h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	width: 700px;
	color: black;

}

a {
  text-decoration: none;
}
body {
	font-family: 'Lora', serif;
	font-size: bold;
